jax
tiktoken
regex==2017.4.5 # used by the bpe tokenizer
requests==2.27.1 # used to download gpt-2 files from openai
tqdm==4.64.0 # progress bar to keep your sanity
tensorflow==2.11.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos==2.11.0; sys_platform == 'darwin' and platform_machine == 'arm64'